<!-- footer.component.html -->
<footer>
    <div class="left-column">
        <img class="logo" src="assets\images\logo.png" alt="Company Logo">
        <div class="media-logos">
            <a href="https://www.facebook.com/2vntravel">
                <img class="social-media-logo" src="assets\images\icons\logo-facebook.svg" alt="Media Logo 1">
            </a>
            <img class="social-media-logo" src="assets\images\icons\logo-linkedin.svg" alt="Media Logo 2">
            <img class="social-media-logo" src="assets\images\icons\logo-pinterest.svg" alt="Media Logo 3">
        </div>
    </div>
    <div class="right-column">
        <div class="link-column">
            <h3>CUSTOMER SERVICE</h3>
            <a href="#">Conditions of use</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Ticket refund policy</a>
            <a href="#">Deny the responsibility</a>
            <a href="#">How to receive tickets</a>
            <a href="#">Payment Guide</a>
            <a href="#">Tour terms and conditions</a>

        </div>
        <div class="link-column">
            <h3>INFORMATION</h3>
            <a href="#">Frequently asked questions</a>
            <a href="#">Promotional news</a>
            <a href="#">Recruitment</a>
        </div>
        <div class="link-column">
            <h3>INFORMATION ABOUT US</h3>
            <a href="#">Our company</a>

        </div>
    </div>

</footer>