<!-- footer.component.html -->
<footer>
    <div class="left-column">
      <img class="logo" src="assets\images\logo.png" alt="Company Logo">
      <div class="media-logos">
        <img class="social-media-logo" src="assets\images\icons\logo-facebook.svg" alt="Media Logo 1">
        <img class="social-media-logo" src="assets\images\icons\logo-linkedin.svg" alt="Media Logo 2">
        <img class="social-media-logo" src="assets\images\icons\logo-pinterest.svg" alt="Media Logo 3">
      </div>
    </div>
    <div class="right-column">
      <div class="link-column">
        <h3>DỊCH VỤ KHÁCH HÀNG</h3>
        <a href="#">Điều kiện sử dụng</a>
        <a href="#">Chính sách bảo mật</a>
        <a href="#">Chính sách hoàn vé</a>
        <a href="#">Từ chối trách nhiệm</a>
        <a href="#">Cách thức nhận vé</a>
        <a href="#">Hướng dẫn thanh toán</a>
        <a href="#">Điều khoản và điều kiện Tour</a>

      </div>
      <div class="link-column">
        <h3>THÔNG TIN</h3>
        <a href="#">Câu hỏi thường gặp</a>
        <a href="#">Tin tức khuyến mãi</a>
        <a href="#">Tuyển dụng</a>
      </div>
      <div class="link-column">
        <h3>THÔNG TIN VỀ CHÚNG TÔI</h3>
        <a href="#">Công ty của chúng tôi</a>

      </div>
    </div>
  </footer>
  