<div class="introduce">
    <div class="introduce-l">
        <h1>About Us</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</h2>
        <p>_________________________________________________________________________________</p>
        <div>
            <div class="introduce-l-1">
                <img src="assets\images\icons\location-sharp.svg" alt="">
                <span>US Office: </span>9636 Garden Grove Blvd, Suite #22, Garden Grove, CA 92844
            </div>
            <div class="introduce-l-2">
                <img src="assets\images\icons\call.svg" alt="">
                +1833-859-8686
            </div>
        </div>
        <p>_________________________________________________________________________________</p>
        <div>
            <div class="introduce-l-1">
            <img src="assets\images\icons\location-sharp.svg" alt="">
            <span>VN Office: </span>B54-B56 Bạch Đằng, Phường 2, Quận Tân Bình, TP HCM
            </div>
            <div class="introduce-l-2">
                <img src="assets\images\icons\call.svg" alt="">
                +8428-7304-5657
            </div>
        </div>
    </div>
    <div class="introduce-r">
        <img src="assets\images\aboutus.jpg" alt="">
    </div>      
</div>

<div class="whyus">
    <div>
        <mat-icon>check_circle</mat-icon>
        <h3>Chất lượng dịch vụ</h3>
        <h5>Chúng tôi luôn đề cao chất lượng dịch vụ đối với khách hàng trong và ngoài nước để đảm bảo khách hàng hài lòng với dịch vụ.</h5>
    </div>
    <div>
        <mat-icon>verified_user</mat-icon>
        <h3>Độ tin cậy</h3>
        <h5>Chúng tôi tin vào thực tiễn giao dịch có trách nhiệm và Luôn đảm bảo giao dịch của bạn với chúng tôi là chính xác và an toàn.</h5>
    </div>
    <div>
        <mat-icon>local_offer</mat-icon>
        <h3>Khuyến mãi đặc biệt</h3>
        <h5>Chúng tôi luôn có nhiều khuyễn mãi cho khách hàng trong nước và ngoài nước khi đặt vé tại website hoặc liên hệ trực tiếp.</h5>
    </div>
</div>

<div class="introduce-email-form-container">
    <div class="email-form-container">
        <h2>Never Overpay for Flights Again!</h2>
        <h3>Amazing Deals to the Best Destinations. Save up to 50%.</h3>
        <form action="/submit" method="post">
          <label for="email"></label>
          <input type="email" id="email" name="email" placeholder="Your email..." required>
          <button type="submit">Get Free Flights Alerts</button>
        </form>
      </div>
</div>